.zad_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.zad_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

}
.lunch{
    color: black;
}
.day{
    background-color: transparent;
    color: rgb(194, 122, 212);
    font-weight: bold;
    text-align: center;
} 

